/*
 * base css
 */
ul,
li {
    margin: 0;
    padding: 0;
}
.vue-calendar-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}
.one-px-line() {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #c9c3b7;
    -webkit-transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
}
.one-px-line-top() {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #c9c3b7;
    -webkit-transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
}
.vue-calendar-content {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    overflow: hidden;
    z-index: 1000;
    font-size: 0.3rem;
    .vue-calendar-content-title-wrapper {
        height: 0.90rem;
        line-height: 0.90rem;
        position: relative;
        .text {
            float: left;
            padding-left: 0.2rem;
            color: #666666;
            font-size: 0.32rem;
        }
        .btn {
            float: right;
            margin-right: 0.2rem;
            a {
                color: #2eb6a8;
                font-size: 0.30rem;
                text-decoration: none;
                padding: 0.1rem 0.20rem;
                border: 0.02rem solid #2eb6a8;
                border-radius: 0.06rem;
            }
        }
        &:after {
            .one-px-line
        }
    }
    .week-bar {
        height: 0.6rem;
        line-height: 0.6rem;
        position: relative;
        .weekend {
            color: #fa967f;
        }
        &:after {
            // .one-px-line
        }
        ul {
            display: -webkit-flex;
            display: -ms-flexbox;
            display: -webkit-box;
            display: flex;
            li {
                color: #666666;
                -webkit-flex: auto;
                -ms-flex: auto;
                -webkit-box-flex: 1;
                flex: auto;
                list-style: none;
                text-align: center;
            }
        }
    }
    .vue-calendar-date-wrapper {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
        height: 100%;
        .first-month-bar {
            // position: fixed!important;
            // top: 1.5rem !important;
            // z-index: 1000;
        }
        .first-day-panel {
            // margin-top: 0.6rem;
        }
        .month-bar {
            text-align: center;
            height: 0.6rem;
            line-height: 0.6rem;
            width: 100%;
            position: relative;
            background: #fafafa;
            // margin-top: -0.01rem;
            &:before {
                .one-px-line-top;
            }
            &:after {
                .one-px-line;
            }
        }
        .month-list {
            ul li {
                list-style: none;
            }
            ul {
                overflow: hidden;
            }
            li {
                display: inline-block;
                // float: left;
                width: 14.286%;
                text-align: center;
                position: relative;
                height: 1rem;
                line-height: 1rem;
                color: #333333;
                .dd {
                    position: relative;
                    display: inline-block;
                    top: -0.15rem;
                }
                &.disabled {
                    color: #a2a2a2;
                }
                &:after {
                    .one-px-line;
                }
                &.without-text {
                    i {
                        &:after {
                            content: ''!important;
                        }
                    }
                }
                &.is-holiday {
                    .holiday {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        bottom: 0;
                        &:before {
                            width: 0;
                            height: 0;
                            content: '';
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            border-bottom: 0.35rem solid #cccccc;
                            border-left: 0.35rem solid transparent;
                        }
                        &:after {
                            content: '假';
                            position: absolute;
                            bottom: 0.02rem;
                            right: 0.02rem;
                            font-size: 0.16rem;
                            color: #fff;
                            line-height: 0.2rem;
                        }
                    }
                }
                &.border-radius {
                    border-radius: 0.06rem!important;
                }
                &.selected {
                    &-start {
                        border-radius: 0.06rem 0 0 0.06rem;
                        i:after {
                            content: '入住';
                        }
                    }
                    &-end {
                        border-radius: 0 0.06rem 0.06rem 0;
                        i:after {
                            content: '离店';
                        }
                    }
                    &-start,
                    &-end {
                        color: #fff;
                        background: #2eb6a8;
                        i:after {
                            position: absolute;
                            top: 0.2rem;
                            left: 0;
                            font-size: 0.24rem;
                            font-style: normal;
                            text-align: center;
                            width: 100%;
                        }
                    }
                    &-line {
                        background: #e0f4f2;
                        color: #333;
                        border-top: 0.01rem solid #2eb6a8;
                        height: 0.98rem!important;
                        line-height: 0.98rem!important;
                        border-bottom: 0.01rem solid #2eb6a8;
                        margin-top: -0.01rem;
                    }
                }
            }
        }
    }
}
.vue-component-calendar-content-transition {
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.vue-component-calendar-content-enter,
.vue-component-calendar-content-leave {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.expand-enter,
.expand-leave {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
