.vue-calendar-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.one-px-line() {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-bottom: 1px solid #c9c3b7;
    -webkit-transform: scaleY(.5);
    -webkit-transform-origin: 0 0;
}

.vue-calendar-content {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%;
    overflow: hidden;
    z-index: 1000;
    font-size: .3rem;
    .vue-calendar-content-title-wrapper {
        height: .90rem;
        line-height: .90rem;
        position: relative;
        .text {
            float: left;
        }
        a {
            float: right;
        }
        &:after {
            .one-px-line
        }
    }
    .week-bar {
        height: 0.6rem;
        line-height: 0.6rem;
        position: relative;
        &:after {
            .one-px-line
        }
        ul {
            margin: 0;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            li {
                -webkit-flex: auto;
                -ms-flex: auto;
                flex: auto;
                list-style: none;
            }
        }
    }
    .vue-calendar-date-wrapper {
        .month-bar {
            text-align: center;
            height: 0.6rem;
            line-height: 0.6rem;
            position: relative;
            background: #fafafa;
            &:after{
                .one-px-line;
            }
        }
    }
}

.vue-component-calendar-content-transition {
    transition: all ease-in-out 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.vue-component-calendar-content-enter,
.vue-component-calendar-content-leave {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.expand-enter,
.expand-leave {
    opacity: 0;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
